@mixin StyleText($fs, $color, $fw) {
  font-size: $fs;
  color: $color;
  font-weight: $fw;
}

@mixin Size($width, $height: $width) {
  width: $width;
  height: $height;
}
@mixin FlexBox(
  $start: flex-start,
  $justify: flex-start,
  $flex-direction: flex-direction,
  $wrap: nowrap
) {
  display: flex;
  align-items: $start;
  justify-content: $justify;
  flex-direction: $flex-direction;
  flex-wrap: $wrap;
}
