$primary: #f5c000;
$secondary: #000;

//color
$color-dark-1: #eff1f5;
$color-dark-2: #ccc;
$color-dark-3: #b0b0b0;
$color-dark-4: #616161;

//font size
$fs-1: 1rem;
$fs-2: 1.1rem;
$fs-3: 1.25rem;
$fs-4: 1.5rem;
$fs-5: 1.75rem;
$fs-6: 2rem;
$fs-7: 3.25rem;
$fs-8: 4rem;
$fs-9: 2.5rem;

//font weight
$fw-1: 400;
$fw-2: 500;
$fw-3: 600;
$fw-4: 550;
$fw-5: 300;
$fw-bold: 700;

// color text:
$color-text-1: #fff;
$color-text-2: #f5c000;
$color-text-3: #888;
$color-text-4: #000;
$color-text-hover: #ffd829;
$color-text-signup: #291667;

// color button:
$color-button-hover: #ffd829;
